body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2ea47f;
}

#greeting-message {
    font-size: 24px;
    margin-top: 20px;
}